{% extends 'base.html.twig' %}

{% block title %}Vérification{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1> Bienvenue </h1>
</div>
<body style="background-color:grey;">
Bonjour {{login}} {{message}} <span style="font-size: medium;size:50">
{% endblock %}